<p id="notice"><%= notice %></p>
<h1><%= t('all', product_class: 'трайки') %></h1>
<%= render 'index' %>

<br>

<%= link_to t('creating', product_class: t('activerecord.models.trike')), new_trike_path, class: 'btn btn-default' %>
