<p id="notice"><%= notice %></p>
<h1><%= @sportgoods_subcategory.name %><h1>
<p>
  <strong>Название:</strong>
  <%= @sportgoods_subcategory.name %>
</p>

<%= link_to 'Редактировать', edit_sportgoods_subcategory_path(@sportgoods_subcategory) %> 
