<div class="field">
  <%= f.label :price %><br>
  <%= f.number_field :price, step: 'any' %>
</div>
<div class="field">
  <%= f.label :old_price %><br>
  <%= f.number_field :old_price, step: 'any' %>
</div>
